body {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  background-color: #dff9fb;
  flex-direction: column;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 180px;
  color: #dff9fb;
  font-size: 60px;

  background-color: #535c68;
  box-sizing: border-box;
  padding-right: 30px;


}

section {
  position: relative;
  width: 100%;
  height: calc(100% - 180px - 80px);
  display: flex;
  flex: 1;
}

footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #535c68;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

article {
  color: #535c68;
  border: 5px solid #535c68;
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: auto;
  box-sizing: border-box;
  padding: 25px;


}

.flex-container {
  display: block;
  position: relative;
  width: 100%;
}

.flex-container p {
  font-size: 23px;
  font-weight: 400;
}

.flex-container h1 {
  font-weight: 900;
}

nav {
  padding: 10px;
  font-size: 50px;
  width: 350px;
  border: 5px solid;
  box-sizing: border-box;
  color: #535c68;
}

h1 {

  font-size: 60px;
  text-decoration: underline;
  display: block;
}

p {
  font-size: 20px;
}

h2 {
  color: #535c68;
  font-size: 30px;
}

header span {
  display: block;
  border: 3px #dff9fb solid;
  text-align: right;
  padding: 5px;
}

h3 {
  font-size: 24px;
  line-height: 24px;
  color: #dff9fb;
}

footer span {
  color: #dff9fb;
  line-height: 24px;
}

footer span:after {
  content: " | ";
  color: #dff9fb;
  padding: 12px;
}

footer span:last-child:after {
  content: "";
}

nav{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  overflow:auto;
}

nav p span {
  font-weight: 900;
  text-decoration: underline;
}

nav img {
  height: 180px;
    width: 130px; 
}


@media (max-width: 1000px ) {
  .flex-container p {
    font-size: 14px;
  }

  header span {
    font-size: 32px;
  }

  footer {
    height: auto;
    flex-direction: column;
    justify-content: center;
    padding: 12px 0;
    height: 96px;
  }

  section {
    height: calc(100% - 180px - 96px);
  }

  footer h3 {
    font-size: 18px;
    margin: 0;

  }

  footer p {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  nav {
    width: 180px;
    border: solid 1px #535c68;

  }

  nav p span {
    font-size: 15px;
  }

  article {
    border: solid #535c68 1px;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  nav p {
    font-size: 16px;
  }

  .nav-secondary {
    display: none;
  }
}

@media (max-width: 800px){
    section{
      flex-direction: column;
    }

    nav{
      border: none;
      width: 100%;
      height:auto;
      padding: 16px;
    }

    .nav-main{
      display:flex;
    }
    section {
      height:auto;
      overflow: visible;
    }
    article{
      border:none;
      padding: 16px;
    }
    
    nav .portrait{
      display:block;
      width:35%;
      height:auto;
    }

    nav .portrait img{
      width:100%;
      height:auto;
    }

    nav p:last-child{
      margin-bottom:0;
    }

    .languages-level{
      width:65%;
      padding-left:16px;
    }
    
  
}


/*
@media (max-height: 1200px) {
  .flex-container p {
    font-size: 14px;
  }

  header span {
    font-size: 32px;
  }

  footer {
    height: auto;
    flex-direction: column;
    justify-content: center;
    padding: 12px 0;
    height: 96px;
  }

  section {
    height: calc(100% - 180px - 96px);
  }

  footer h3 {
    font-size: 18px;
    margin: 0;

  }

  footer p {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  nav {
    width: 180px;
    border: solid 1px #535c68;

  }

  nav p span {
    font-size: 15px;
  }

  article {
    border: solid #535c68 1px;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  nav p {
    font-size: 16px;
  }

  .class2 {
    content-visibility: hidden;
  }
}
  */