

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #dff9fb;
    color: #000000;
   
    padding: 60px 20px;
    text-align: center;
}


h1 {
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 25px;
    letter-spacing: 1px;
    text-shadow: 0 8px 8px rgba(255, 0, 179, 0.4);
    text-align: center;
    padding-bottom: 150px;

}



a, button {

    padding: 12px 24px;
  
    background: #74f6ff;
    color: #000000;

    font-weight: 600;
    border-radius: 8px;
    transition: 0.3s ease;
    margin-top: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-decoration: underline;
    text-align: center;
    align-items: center;
    height: 50px;
    width: 25px;
}

a:hover, button:hover {
    background: #2d2b5f;
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}
