body{
font-family: Verdana, Geneva, Tahoma, sans-serif;
display: flex;
justify-content: center;
align-items: center;
height:150vh;
background-color: #f2f2f2;
margin: 0;
}
.calculator  {
    width: 300px;
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
padding: 20px ;
}
.display{
    width: 100%;
    height: 50px;
    text-align: right;
    margin-bottom: 20px;
    border: none;
    background-color:#ffeb3b;
    border-radius: 8px;
    color: #333;
    font-size: 20px;
}
.buttons {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 10px;
}
.button {
    background-color: #f70000b6;
    border: none;
   font-size: 24px;
   padding:20px;
   cursor: pointer;
   border-radius: 10px;
   transition: background-color 0.3s, transform 0.2s;
}
.button:hover{
    background-color:#0288d1 ;
    transform: scale(1.1);
}
.button:active{
    transform: scale(0.95);
}
.button.clear {
    background-color: #00ffff ;
}
.button.clear:hover {
    background-color: #e64a19;
}
.button.equal:hover {
 background-color: #689f38;
}
.button.operator {
    background-color: #5900ff;
}
 .button.operator:hover { 
            background-color: #f57c00;
 }
 .button.equal {
    background-color: #00ffff;
 }