body {
  font-family: 'Trebuchet MS', sans-serif;
  background: #111;
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200vh;
  margin: 0;
}

h1 {
  margin-bottom: 30px;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

.generator-box {
  background: #000000;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

button {
  margin: 10px 5px;
  background: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 12px 25px;
  font-size: 1.1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #ff2e78;
}

#song {
  font-size: 1.4rem;
  margin-top: 20px;
  color: #ffffff;
  min-height: 2em;
}